<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/ay.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="//use.typekit.net/pjl6dcn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  {{content}}
  <footer>
    <p>
      <a href="/"><span>Aaron Yodaiken</span></a> is a John Jay Scholar studying economics at Columbia University. He has co-founded many tech startups and is currently serving as President of <a href="http://realitystep.org/?ref=ayfoot"><span>RealityStep</span></a>, a charity for underperforming and underserved children.
    </p>
    <p>
      <a href="http://facebook.com/aaronyodaiken" target="_blank"><span>facebook</span></a> | <a href="http://twitter.com/aaronyodaiken" target="_blank"><span>@aaronyodaiken</span></a> | <a href="mailto:aaronryodaiken@gmail.com"><span>aaronryodaiken@gmail.com</span></a>
    </p>
    <p>
      <small>All text, images and other content copyright 2014 Aaron Yodaiken. All rights reserved.<br>For questions regarding distribution or reproduction email <a href="mailto:aaronryodaiken@gmail.com"><span>aaronryodaiken@gmail.com</span></a></small>
    </p>
  </footer>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50483930-1', 'aaronyodaiken.com');
  ga('send', 'pageview');

</script>
</body>
</html>
