<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/ay.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="//use.typekit.net/pjl6dcn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  {{content}}
  <footer>
    <p>
      <a href="/"><span>Aaron Yodaiken</span></a> is a John Jay Scholar studying economics at Columbia University. He has co-founded many tech startups and is currently serving as President of <a href="http://realitystep.org/?ref=ayfoot"><span>RealityStep</span></a>, a charity for underperforming and underserved children.
    </p>
    <p>
      <a href="http://facebook.com/aaronyodaiken" target="_blank"><span>facebook</span></a> | <a href="http://twitter.com/aaronyodaiken" target="_blank"><span>@aaronyodaiken</span></a> | <a href="mailto:aaronryodaiken@gmail.com"><span>aaronryodaiken@gmail.com</span></a>
    </p>
    <p>
      <small>All text, images and other content copyright 2014 Aaron Yodaiken. All rights reserved.<br>For questions regarding distribution or reproduction email <a href="mailto:aaronryodaiken@gmail.com"><span>aaronryodaiken@gmail.com</span></a></small>
    </p>
  </footer>
</body>
</html>
